body {
  background-color: #000000;
  color: white;
}
.app {
  width: 800px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 20px white;
}
.playstation5 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.shops {
  display: flex;
  flex-direction: column;
}
.shop {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.availability {
  padding: 15px;
}

a {
  text-decoration: none;
}

img {
  width: 300px;
}

@media (max-width: 800px) {
  .app {
    width: 96%;
  }
}
